version: "3.9"

services:
  flask_app:
    build: .
    container_name: flask_app
    ports:
      - "5001:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_APP=main.py
      - FLASK_RUN_HOST=0.0.0.0
      - FLASK_RUN_PORT=5000
      - PYTHONDONTWRITEBYTECODE=1
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
